@media only screen and (min-width: 992px) {
  widht: 100%;
  #sec1,#sec2,#sec3{
    widht:33.33%;
  }
  #sec1{
    float: left;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {

}

section {
  background-color: blue;
}
