@media only screen and (min-width: 992px) {
  widht: 100%;
  #sec1,#sec2,#sec3{
    width: auto;
  }
  #sec1{
    float: right;
  }
  #sect2{
    float:right;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #sec1,#sec2{
    width: auto;
  }
  #sec1{
    float: left;
  }
  #sec2{
    float:right;
  }
  #sec3{
    width:auto;
  }
}

@media only screen and (max-width: 767px) {

}

section {
  background-color: blue;
}
